<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <!-- Bootstrap CSS -->
      <link href="css/estilo.css" rel="stylesheet" type="text/css"> 
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
      
</head>

<body class="bg-light">

    <header>
        <nav>
            <div id="header">
                <ul class="nav">
                    <li><a href="../view/inicio.html">Inicio</a></li>
                    <li><a href="">Usuarios</a>
                                                  
                        <ul>
                            
                            <li><a href="altaUsuarioC.html">Crear Usuario</a></li>
                            <li><a href="listadosUsuariosC.php">Listado de Usuarios</a></li>
                            
                        </ul>
                    </li>

                    <li><a href="">Pedidos</a>
                                                  
                        <ul>
                            
                            <li><a href="listadoPedidosC.php">Listado de Pedidos</a></li>
                            <li><a href="pedidoC.php">Cargar Pedido</a></li>
                           
                            
                        </ul>
                    </li>
                
                   

                    <li><a href="">Acerca de</a>
                        <ul>
                            <li><a href="">Nosotros</a></li>
                            <li><a href="">Nuestra Misión</a></li>
                            <li><a href="http://www.facebook.com">Historia</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container">

        <div class="py-4 text-center">
            <img class="d-flex mx-auto mb-4" src="./images/logo.jpg" alt="Logo caba" width="72" height="72">
            <h2>Alta Usuario</h2>
            <p class="lead">Página que nos permite dar de alta un usuario para luego login.</p>
        </div>


        <div class="col-md-12 text-center" >
            <form action="../controller/checkUsuarioC.php" method="post" class="needs-validation">
                <div class="row">
                
                    <div class="col-md-6">

                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="email" class="form-control" id="usuario" name="usuario" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">   
                        <div class="invalid-feedback">
                            El email debe contener un @
                        </div>

                      
                    </div>

                    <div class="col-md-6">
                        <label for="password" class="form-label">Contraseña</label> 
                        <input type="password" class="form-control" id="password" name="password" required pattern=".{8,}" title="Eight or more characters">
                        <div class="invalid-feedback">
                             La contraseña debe tener más de 8 caracteres, contener minúsculas, mayúsculas y algún número
                        </div>
                    </div>

                </div>


                <hr class="mb-4">

                <div class="row">

                    <div class="col-4"></div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
                    </div>



                </div>


                

                <div>
                    <hr>
                </div>

            </form>
        </div>


    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>